<h2>ユーザー詳細画面</h2>
<p>社員CD： {{ object.syn_cd }} </p>
<p>氏名（姓）：{{ object.syn_nm_s_kj }} </p>
<p>氏名（名）：{{ object.syn_nm_n_kj }} </p>
<p>氏名（姓）カナ：{{ object.syn_nm_s_kn }} </p>
<p>氏名（名）カナ：{{ object.syn_nm_n_kn }} </p>
<p>入社日：{{ object.nysy_dt }} </p>
<p>PJ参入日：{{ object.pj_add_dt }} </p>
<p>PJ終了日：{{ object.pj_del_dt }} </p>
<p>E-mail：{{ object.e_mail_adr }} </p>
<p>権限：{{ object.syn_kngn }} </p>
<p>パスワード：{{ object.lgn_pss }} </p>
<p>社員区分：{{ object.syn_kbn }} </p>

<!-- ユーザー編集画面にうつる -->
<form action="{% url 'muserupdate' object.syn_cd %}" method="get">{% csrf_token %}
    <input type="submit" value="編集">
</form>


<!-- ユーザー管理画面に戻る -->
<form action="{% url "muserlist" %}" method="get">{% csrf_token %}
    <input type="submit" value="戻る">
</form>












